*{
  margin: 0px;
  padding: 0px;
}

body{
  background-image: url(7.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: new time roman;
}
h1{
  margin-top: 30px;
  margin-bottom: 50px;
  color: black;
  font-weight:bold;
}
.label{
  font-size: 25px;
  font-weight: normal;
  margin-top: 20px;
  color:black;
}
.form-control{
  background: rgba(0,0,0,0.7);
  border-radius: 0px;
  border=0px;
  margin-top: 20px;
  font-size: 20px;
  color:white;
  height: 40px;
}
.btn-danger{
  margin-left: 200px;
  margin-top: 20px;
  width:180px;
  font-size: 18px;
  border-radius: 0px;
}
